.footer{
    padding: 60px 0px;
    .fotter_content{
        margin-top: 35px;
        .logo{
            .imgbox{
                cursor: pointer;
                width: 30%;
                height: auto;
                img{
                    cursor: pointer;
                }
            }
        }

        ul{
            padding-top: 20px;
            li{
                margin-bottom: 5px;
                svg{
                    margin-right: 5px;
                    fill: #000000;
                }
                a{
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover{
                        color: #449aff;
                    }
                }
            }
        }
    }

    h2{
        font-size: 25px;
        font-weight: 600;
    }
    .form{
        width: 100%;
        input,
        textarea{
            width: 100%;
            padding: 5px 20px;
            background-color: transparent;
            border: 1.5px solid #000000;
            border-radius: 0px;
            color: #000000;
            cursor: text;
        }
        textarea{
            max-height: 70px;
        }
        p{
            font-size: 13px;
            line-height: 1;
            margin: 5px 0px;
            color: red;
            opacity: 0;
        }
        button{
            padding: 5px 30px;
            width: 100%;
            border: 1.5px solid #000000;
            background-color: transparent;
            color: #000000;
            font-weight: 600;
            float: right;
            transition: all linear 0.3s;
            margin-top: 5px;
            margin-bottom: 20px;

            &:hover{
                background-color: #000000;
                color: #ffffff;
            }
        }
    }
    
}